<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.macdevteam.userconfigagentguiagent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Security/SecurityAgentPlugins/UserConfigAgentPlugin.bundle/Contents/Resources/UserConfigAgentGUIAgent.app/Contents/MacOS/UserConfigAgentGUIAgent</string>
		<string>-RunMode</string>
		<string>AgentAqua</string>
	</array>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/tmp/.com.macdevteam.UserConfigAgentGUIAgent.Run</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
